@-webkit-keyframes sideUp {
  0% {
    opacity: 0;
    margin-top: 50px
    // margin-left: 30px;
  }
  100% {
    opacity: 1;
    margin-top: 0px
    // margin-left: 0px;
  }
}
@keyframes sideUp {
  0% {
    opacity: 0;
    margin-top: 50px
    // margin-left: 30px;
  }
  100% {
    opacity: 1;
    margin-top: 0px
    // margin-left: 0px;
  }
}

.middle-left {
  float: left;
  width: calc(33% - 30px);
  padding-left: 30px;
  >.heading {
    color: rgb(0, 102, 255);
    font-size: 34px;
    text-align: left;
    font-family: "GothamBlack";
  }
  >div{
    margin-top: 50px;
    width: 100%;
    float: left;
    >.btn-download-sdk {
      margin-left: 0px;
      background-color: rgb(0, 102, 255);
      border-radius: 50px;
      font-size: 16px;
      height: 60px;
      float: left;
      width: 325px;
      color: rgb(255, 255, 255);
      font-family: "GothamMedium";
      cursor: pointer;
      &:hover {
        transition: transform 0.5s ease-out;
        -webkit-box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    0 20px 38px rgba(0, 0, 0, 0.16);/* Firefox 3.5 - 3.6 */
        box-shadow:         0 20px 38px rgba(0, 0, 0, 0.16);
        transform: translateY(-3px);
        -webkit-transform: translateY(-3px);
        opacity: 0.85;
      }
    }
  }
  >.features {
    float: left;
    width: 100%;
    margin-top: 75px;
    >li {
      color : rgb(0, 102, 255);
      font-size: 24px;
      text-align: left;
      margin-top: 25px;
      max-width: 500px;
      font-family: "GothamBook";
    }
  }

  animation-name: sideUp;
  -webkit-animation-name: sideUp;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@media screen and (max-width: 1350px) {
  .middle-left {
    float: left;
    width: calc(33% - 30px);
    padding-left: 30px;
    >.heading {
      color: rgb(0, 102, 255);
      font-size: 27px;
      text-align: left;
      font-family: "GothamBlack";
    }
    >div{
      margin-top: 50px;
      width: 100%;
      float: left;
      >.btn-download-sdk {
        margin-left: 0px;
        background-color: rgb(0, 102, 255);
        border-radius: 50px;
        font-size: 16px;
        height: 60px;
        float: left;
        width: 230px;
        color: rgb(255, 255, 255);
        font-family: "GothamMedium";
        cursor: pointer;
        &:hover {
          transition: transform 0.5s ease-out;
          -webkit-box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          -moz-box-shadow:    0 20px 38px rgba(0, 0, 0, 0.16);/* Firefox 3.5 - 3.6 */
          box-shadow:         0 20px 38px rgba(0, 0, 0, 0.16);
          transform: translateY(-3px);
          -webkit-transform: translateY(-3px);
          opacity: 0.85;
        }
      }
    }
    >.features {
      float: left;
      width: 100%;
      margin-top: 50px;
      >li {
        color : rgb(0, 102, 255);
        font-size: 22px;
        text-align: left;
        margin-top: 20px;
        max-width: 500px;
        font-family: "GothamBook";
      }
    }
  
    animation-name: sideUp;
    -webkit-animation-name: sideUp;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
}