@import '../../../node_modules/antd/dist/antd.css';
.ant-modal-body {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: -24px;
}

.ant-modal-footer {
  height: 820px;
  button {
    visibility: hidden;
  }
}
.modal-body {
  float: left;
  width: 100%;
  .left {
    float: left;
    width: 40%;
    background-color: rgb(0, 102, 255);
    border-right: solid 1px rgb(51, 102, 255);
    color: rgb(255, 255, 255);
    height: 820px;
    font-size: 106px;
    font-family: "GothamBlack";
    .left-text{
      max-width: 412px;
      margin: auto;
      padding-top: 150px;
    }
  }
  .right {
    float: left;
    width: 60%;
    text-align: center;
    margin-top: 84px;
    .header {
      float: left;
      width: 100%;
      color: rgb(0, 102, 255);
      font-size: 30px;
      font-family: "GothamNarrowBlack";
    }
    .body {
      margin-top: 55px;
      >.input {
        float: left;
        width: 100%;
        .label {
          // text-align: left;
          >div {
            text-align: left;
            margin: auto;
            font-size: 16px;
            width: 542px;
            font-family: "MaisonNeueMedium";
          }
        }
        >input{
          font-size: 22px;
          width: 542px;
          height: 70px;
          text-indent: 40px;
          border: solid 1px gray;
          border-radius: 5px;
        }
        .email-input {
          font-family: "MaisonNeueDemi";
        }

        .password-input{
          font-family: "MaisonNeueMediumItalic";
        }
      }
      >.password {
        margin-top: 42px;
      }
      >.buttons {
        margin-top: 40px;
        float: left;
        width: 100%;
        >.button-flow{
          margin: auto;
          width: 542px;
          >button {
            width: 210px;
            height: 60px;
            border-radius: 53px;
            font-size: 16px;
          }
          .register {
            border: 1px solid rgb(0, 102, 255);
            background: #fff;
            color: rgb(0, 102, 255);
            float: left;
            font-family: "GothamMedium";
          }
          .login {
            background-color: rgb(0, 102, 255);
            color: rgb(255, 255, 255);
            float: right;
            font-family: "GothamMedium";
          }
        }
      }
      .login-options {
        float: left;
        width: 100%;
        margin-top: 38px;
        .checkbox {
          float: left;
          width: 50%;
          font-size: 18px;
          font-family: "GothamMedium";
        }
        .forgot-password {
          float: left;
          width: 50%;
          font-size: 18px;
          font-family: "GothamMedium";
        }
      }
      .oauth-login{ 
        float: left;
        width: 100%;
        font-family: "GothamMedium";
        .withAmazon, .withGoogle {
          height: 60px;
          width: 542px;
          border-radius: 50px;
          background-color: rgb(255, 255, 255);
          font-size: 16px;
        }
        .withAmazon {
          margin-top: 50px;
          border: solid 1px rgb(255, 153, 51);;
          .secondary {
            color: rgb(255, 153, 51);
          }
        }
        .withGoogle {
          margin-top: 30px;
          border: solid 1px rgb(255, 102, 102);
          .secondary {
            color: rgb(255, 102, 102);
          }
        }
      }
    }
  }
}
