
@-webkit-keyframes pageOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pageOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.search-result {
  >.nav-heading {
    background: url('../../assets/images/banner-search.png') no-repeat;
    height: 350px;
    float: left;
    width: 100%;
    >.title {
      float: left;
      width: 100%;
      font-family: "GothamBlack";
      font-size: 60px;
      color: rgb(255, 255, 255);
      margin-bottom: 10px;
    }
  }

  @media screen and (max-width: 1350px) {
    >.nav-heading{
      height: 300px;
      >.title{
        font-size: 57px;
      }
    }
  }

  @media screen and (max-width: 850px) {
    >.nav-heading{
      height: auto;
      >.title{
        font-size: 40px;
      }
    }
  }
  animation-name: pageOpacity;
  -webkit-animation-name: pageOpacity;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}