.bar_icon {
  display: none;
}

.nav {
  .nav-link {
    cursor: pointer;
  }
  .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

  .nav-link:hover::after {
      width: 100%;
  }

  color: rgb(74, 74, 74);
  position: relative;
  float: left;
  width: 100%;
  height: 70px;

  >div {
    display: inline-block;
    line-height: 80px;
    margin-left: 25px;
    color: rgb(255, 255, 255);

    a {
      color: rgb(255, 255, 255);
      text-decoration: none;
    }

    &.left {
      font-size: 30px;
      float: left;
      font-family: "GothamUltra";
    }

    &.right {
      font-size: 16px;
      float: right;
      font-display: "GothamMedium";

      >div {
        display: inline-block;
        margin-left: 35px;
        margin-right: 35px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  $res: 1300 / 1920;
  .nav {
    .nav-link {
      cursor: pointer;
    }
  
    .nav-link::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #fff;
      transition: width .3s;
  }
  
    .nav-link:hover::after {
        width: 100%;
        //transition: width .3s;
    }

    color: rgb(74, 74, 74);
    // background-color: rgb(36, 146, 252);
    position: relative;
    float: left;
    width: 100%;
    height: 70px;
  
    >div {
      display: inline-block;
      line-height: 80px;
      margin-left: 25px;
      color: rgb(255, 255, 255);
  
      a {
        color: rgb(255, 255, 255);
        ;
        text-decoration: none;
      }
  
      &.left {
        font-size: 30px;
        float: left;
        font-family: "GothamUltra";
      }
  
      &.right {
        font-size: 16px;
        float: right;
        font-display: "GothamMedium";
  
        >div {
          display: inline-block;
          margin-left: 35px;
          margin-right: 35px;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .hide {
    display: none !important;
  }

  .show {
    display: block;
  }

  .nav {
    float: left;
    width: 100%;
    height: auto;
    >div {
      margin-left: 0px;
      &.left {
        float: left;
        width: 100%;
        >.logo_link {
          float: left;
          width: calc(50% - 10px);
          margin-left: 10px;
        }
        >.left_right{
          float: left;
          width: 50%;
          >.bar_icon {
            display: block;
            width: 50%;
            float: right;
          }
        }
      }
      &.right {
        float: left;
        width: 100%;
        >.nav-link {
          float: left;
          width: 100%;
          margin-left: 0px;
          margin-right: 0px;
        }
      }
    }
  }
}